extends layout

block content
  h1!= title

  if (!currentUser)
    p.alert.alert-warning Sign in to see who wrote each message.

  ul.list-group
    each message in messages
      - const author = currentUser ? message.user.nickname : 'Anonymous'
      .list-group-item 
        .d-flex.w-100.justify-content-between
          article
            p
              small !{author} posted at 
                time(datetime=message.createdAt) !{message.formattedCreatedAt}
            p.my-0 !{message.text}
          
          if currentUser 
            div
              a.btn.btn-outline-danger(
                href=`delete/${message._id}`
              ) Delete
        

    else 
      p.alert.alert-danger No messages